extends layout

block link
    -var selected= 'About';

block content
    h1 About the Signs
    p.
        Here is some text to see if I can actually write some text to this file
        This is another line of text